@media (min-width: 769px) {
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1680px) {
  #video {
    padding-bottom: 221.09vw;
  }

  #video .row {
    width: 58%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1025px) and (max-width: 1279px) {
  #video .inner {
    padding: 0 20px;
  }
  #contest {
    margin-top: 600px;
  }
}

@media (max-width: 1024px) {
  #video {
    padding-bottom: 270.09vw;
  }

  /* 1122? */
  #video .inner {
    padding: 0 8vw;
  }
  .contest-slider-wrap .btn-wrap .inner {
    width: auto;
  }
  .contest-slider-wrap .prev {
    left: 32px;
  }
  .contest-slider-wrap .next {
    right: 32px;
  }
  .contest-slider-wrap .slick-arrow img {
    width: 80%;
  }

  #local-festival .tab-content {
    padding: 0 5vw;
  }
  #institution .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .col-lg-4 {
    max-width: 32.333333%;
    padding: 0 0.8888%;
  }
  section .video-hover-content {
    text-align: center;
  }
  section .video-hover-content img {
    max-width: 80%;
  }
  section figcaption {
    font-size: 2.93vw;
    padding: 0 0 2.2vw 2vw;
  }
  #local-festival .tabs .nav-item {
    width: auto;

    /* 1206 :S */
    margin-bottom: 10px;
    padding: 0.5rem 2.7vw 1rem;
    /* padding: 0 2.3vw 1.59vw 2.3vw; */
    /* padding : 1.3rem 1.2vw; */
    /* 1206 :E */

    font-size: 2.93vw;
  }
  #sns .row,
  footer .row {
    flex-direction: column;
  }
  #sns .row {
    width: 73%;
  }
  #sns .promotion {
    justify-content: center;
  }
  #sns .promotion > div {
    padding: 0 5px;
  }
  #sns .btn-sns01,
  #sns .promotion01 {
    margin-right: 0;
  }
  #sns .btn-sns {
    flex-grow: 1;
    width: 50%;
    padding: 0 5px;
  }
  #sns .btn-sns-area {
    padding-top: 1.46vw;
  }
}

/* 1119 */
@media (min-width: 769px) and (max-width: 837px) {
  #mainNav.navbar-shrink .img-m {
    display: none !important;
  }
  .topNav .nav-list .img-m {
    max-width: 85%;
  }
}

@media (max-width: 820px) {
  .img-m {
    display: block;
  }
  .img-pc {
    display: none;
  }
}
@media (max-width: 768px) {
  .nav-mobile .header--close img {
    width: auto;
  }
  .mb-5,
  .my-5 {
    margin-bottom: 3.66vw;
  }
  .section-heading {
    font-size: 7.4vw;
  }
  .section-subheading {
    font-size: 5.49vw;
    margin-bottom: 3.17vw;
    /*1129*/
    line-height: 6vw;

    /* 1206 */
    word-break: keep-all;
    word-wrap: break-word;
  }
  .section-subtxt {
    font-size: 3.41vw;
  }
  section h2::before {
    left: 0;
    right: 0;
    margin: auto;
    top: -9vw;
  }
  /* section figcaption {
        font-size: 2.93vw;
        padding: 0 0 2.2vw 2vw;
    } */
  nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 4vw 0 2vw;
  }
  nav .img-m {
    width: 55%;
  }
  nav ul {
    flex-grow: 1;
  }
  nav .nav-list > li:not(:first-child) {
    display: none;
  }
  nav .nav-list > li:last-child {
    display: block;
  }
  .header--menu {
    display: block;
    text-align: right;
    width: 4%;
  }
  #mainNav.navbar-shrink .img-m {
    display: none !important;
  }
  #mainNav.navbar-shrink .logo-black {
    margin: initial;
  }
  #mainNav.navbar-shrink .header--menu .ham-default {
    display: none;
  }
  #mainNav.navbar-shrink .header--menu .ham-black {
    display: block;
  }
  #mainNav.navbar-shrink .header--inner {
    box-shadow: 1px 1.7px 2px 0 rgb(1 1 1 / 10%);
  }
  #home {
    background: url(../images/bg_visual_m.jpg) no-repeat center;

    padding: 30.1245% 0;
    background-size: cover;
  }
  #home .home-txt {
    padding-left: 5.49vw;
  }
  #home h2 {
    font-size: 9.63vw;
    padding-bottom: 3.29vw;
    line-height: 110%;
  }
  #home h3 {
    font-size: 6.1vw;
  }
  #home pre {
    font-size: 3.41vw;
    word-break: keep-all;
    white-space: pre-line;
    margin-bottom: 10.85vw;
  }
  #home p {
    font-size: 4.27vw;
  }
  #intro {
    position: relative;
    padding-bottom: 26.46vw;
  }
  #intro .intro-box {
    flex-wrap: wrap;
  }
  #intro .intro-txt {
    font-size: 2.44vw;
    /* 1119 */
    width: calc(100% - 35px);
  }
  #intro .intro-txt p:nth-of-type(2) {
    padding-top: 6.85vw;
  }
  #intro .intro-img1 {
    display: flex;
    flex-grow: 2;
    justify-content: end;
    margin-top: 0;
  }
  #video {
    padding-bottom: 574.09vw;
  }

  #video .pattern01 {
    top: 49vw;
    width: 41%;
    right: 0;
    left: auto;
  }
  #video .pattern01 img {
    transform: rotateY(-180deg);
  }
  #video .pattern02 {
    top: 247vw;
    width: 45%;
  }
  #video .pattern03 {
    display: none;
  }
  #video .pattern04 {
    top: 442vw;
    width: 45%;
  }

  #video .row {
    flex-direction: column;
    padding: 0 2.68vw;
    padding-bottom: 10.98vw;
  }
  #video .row .mr-5 {
    margin-right: 0;
  }
  #video .video-txt {
    margin-bottom: 3.78vw;
  }
  #video .video-item02,
  #video .video-item04 {
    display: flex;
    order: 2;
  }
  section .video-hover-content {
    width: 20%;
  }
  #local-festival .tabs {
    /*width: 99%*/
    width: 97%;
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    margin-top: 10.98vw;
    margin-bottom: 6.59vw;
  }
  /* #local-festival .tabs .nav-item {
        width: auto;
        padding: 0 2.3vw 1.59vw 2.3vw;
        font-size: 2.93vw;
    } */
  #local-festival .tab-content {
    padding: 0 2.65vw;
  }
  #contest {
    /* 1206 */
    /* background: url("../images/bg_contest_m.jpg") no-repeat center bottom; */

    /* 1201 */
    padding: 37.2725% 0;
  }
  .con {
    margin: 13.41vw auto 0;
  }
  .contest-slider-wrap .btn-wrap .inner {
    width: auto;
  }
  /* .contest-slider-wrap .slick-arrow img {
        width: 80%;
    } */
  .contest-slider-wrap .prev {
    left: 37px;
  }
  .contest-slider-wrap .next {
    right: 37px;
  }
  .slick-slide .slider-item span {
    font-size: 16px;
    bottom: 18px;
    right: 18px;
  }
  .slick-slide .slider-item::before,
  .slick-slide .slider-item::after {
    height: 10px;
  }
  .slick-slide .slider-item a::after,
  .slick-slide .slider-item a::before {
    width: 10px;
  }
  /* #sns .row,
    footer .row {
        flex-direction: column;
    }
    
    } */
  #sns .row {
    width: auto;
  }
  .col-lg-4 {
    max-width: 100%;
    margin: 1vw 0;
  }
  #institution {
    padding: 17vw 0;
  }
  #institution .row {
    width: 100%;
    padding-top: 13.17vw;
  }
  #institution .row .col-lg {
    margin-bottom: 8vw;
  }
  #institution .section-subheading {
    font-size: 4.23vw;
  }

  #institution .card {
    background: #fff;
  }
  #institution .card-title {
    font-size: 2.25vw;
  }
  #institution .card-text {
    font-size: 1.94vw;
  }
  /* #sns .promotion > div{
      padding: 0 5px;
  } */
  #sns .btn {
    font-size: 2.32vw;
  }
  /* #sns .btn-sns {
    flex-grow: 1;
    width: 50%;
    padding: 0 5px;
  }     */
  /* #sns .btn-sns01,
    #sns .promotion01 {
        margin-right: 0;
    } */
  #sns .promotion01 {
    padding-right: 15px;
  }
  /* #sns .btn-sns-area {
      padding-top: 1.46vw;
  } */
  footer .row {
    align-items: center;
  }
  footer p {
    padding-top: 4.15vw;
    padding-left: 0;
    text-align: center;
    line-height: 140%;
  }
  /*탭 2줄*/
  #local-festival .tabs {
    flex-wrap: wrap;
  }
  #local-festival .tabs .nav-item {
    padding: 1.3rem 2.7vw 0.5rem;
  }
  #local-festival .tabs .nav-item::after {
    padding-top: 1.5rem;
  }

  .nav-item .video-img {
    width: 20px;
    height: auto;
  }
}

@media (max-width: 600px) {
  #video .inner {
    padding: 0 10px;
  }
  .header--menu {
    width: 8%;
  }
  #home pre {
    margin-top: 3.17vw;
  }
  #intro {
    padding-bottom: 24vw;
    /* margin-bottom: 27vw; */

    /* 1217 */
    margin-bottom: 35vw;
  }
  #intro .intro-box {
    flex-wrap: nowrap;
  }
  #intro .intro-txt h2 {
    /* width: 50%; */
    width: 85%;
  }

  /* 1122 */
  #intro .intro-img1 {
    width: 65%;
    position: absolute;
    /* top: 65vw; */
    /* 1217 */
    top: 80vw;
    right: 0;
  }

  #intro .intro-txt p:nth-of-type(1) span::before {
    height: 10px;
    bottom: -5px;
  }
  section h2::before {
    width: 44px;
    /*top: -16vw;*/
  }
  #video .video-txt {
    /* 1201 */
    width: 90%;
    /* width: 70%; */
  }
  #video .video-item::before {
    width: 100px;
    z-index: -1;
  }
  #video .video-item::after {
    width: 100px;
  }
  #video .video-item01::before,
  #video .video-item03::before,
  #video .video-item05::before {
    left: -31px;
    bottom: -87px;
  }
  #video .video-item01::after,
  #video .video-item03::after,
  #video .video-item05::after {
    left: -24px;
    bottom: -79px;
  }
  #video .video-item02::before,
  #video .video-item04::before {
    right: -34px;
    bottom: -86px;
  }
  #video .video-item02::after,
  #video .video-item04::after {
    right: -25px;
    bottom: -78px;
  }
  .contest-slider-wrap .slick-slide > div {
    max-width: 100%;
    margin: auto;
  }
  .slick-current .slider-item {
    border-width: 10px;
  }
  .contest-slider-wrap .contest-slider .slick-arrow::before {
    font-size: 45px;
  }
  .slick-initialized .slick-slide {
    margin: 0 10px;
  }
  .contest-slider-wrap .slick-arrow img {
    width: 50%;
  }
  .contest-slider-wrap .next {
    right: 0;
  }
  .contest-slider-wrap .prev {
    left: 0;
  }
  #local-festival {
    padding-top: 24.27vw;
  }
  #institution {
    padding-top: 23.9vw;
  }
  #institution .row {
    padding: 0 10px;
    padding-top: 13.17vw;
  }
  #institution .card-title {
    font-size: 4.17vw;
    margin-bottom: 1.83vw;
  }
  #institution .card-text {
    font-size: 3.44vw;
  }

  #institution .bg {
    background: url(../images/institution_bg_m.jpg) no-repeat left top;
    background-size: cover;
    padding-bottom: 58.292%;
    margin-top: -30vw;
  }
  #sns {
    padding-top: 19.76vw;
  }
  #sns .btn {
    display: flex;
    align-items: center;
    height: 6.59px;
    font-size: 2.82vw;
    margin-bottom: 5px;
  }
  footer {
    font-size: 2vw;
  }
  footer img {
    width: 20%;
  }
}

@media (max-width: 480px) {
  #intro {
    margin-bottom: 47vw;

    /* 1215 */
    /* padding-bottom: 0; */
  }
  #intro .intro-img1 {
    width: 65%;
    /* top: 85vw; */

    /* 1215 */
    top: 100vw;
  }
}

/* 1217 */
@media (max-width: 414px) {
  #intro {
    /* padding-bottom: 40vw; */
  }
  #intro .intro-img1 {
    top: 90vw;
  }
}

/* 1217 */
/* @media (max-width: 320px) {
    #intro .intro-img1 {
        width: 50%;
        top: 100vw;
    }
} */

/* 1217 */
/* font */
@media (max-width: 480px) {
  section#intro p {
    font-size: 3.5vw;
    line-height: 2;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  section#intro p {
    font-size: 3vw;
  }
}
@media (min-width: 769px) and (max-width: 820px) {
  section#intro p {
    font-size: 2.2vw;
    line-height: 1.8;
  }
}
@media (min-width: 821px) and (max-width: 1240px) {
  section#intro p {
    font-size: 1.6vw;
  }
}
@media (min-width: 821px) {
  section#intro p {
    line-height: 1.8;
  }
}
